<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <%- include('layouts/header.ejs'); -%>
    <h1>Index EJS</h1>
    <p>The Name is : <%=name%></p>
    <%- include('layouts/footer.ejs'); -%>
</body>
</html>