<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>this is svh</div>
    <h2>hello @bhishek</h2>
    <img src="./thesis-pana 1.png" alt="">
    {{name}}
</body>
</html>